.login-page {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
    background-color: var(--color-background); 
    padding: 1rem;
}

.login-page input {
    width: 250px;       
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 6px;
    border: 1px solid var(--color-border);
}

.login-page h2 {
    margin: 0.5rem 0;
}

.login-button {
    border-radius: 8px;
    padding: 0.5rem 1rem;
}

h2{
    color: var(--color-primary-hover);
}

.login-bottom-image {
    position: absolute;      
    bottom: 0;               
    left: 50%;               
    transform: translateX(-50%);
    width: 400px;            
    height: auto;
    opacity: 0.9;            
    pointer-events: none;    
}

.login-top-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
    height: auto;
    opacity: 0.9;
    pointer-events: none;
}