@inherits LayoutComponentBase
@inject IJSRuntime JS

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack
            Orientation="Orientation.Horizontal"
            AlignItems="AlignItems.Center"
            JustifyContent="JustifyContent.SpaceBetween"
            Gap="0"
            class="rz-pr-6">
            <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded )"/>
            <RadzenText Text="Header" TagName="TagName.H5" TextStyle="TextStyle.H6"/>
            <RadzenButton Text="@(isDarkMode ? "🌞" : "🌙")" Click="@ToggleTheme" Variant="Variant.Filled" class="theme-toggle"/>
        </RadzenStack>
    </RadzenHeader>
    
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <NavBar/>
    </RadzenSidebar>
    
    <RadzenBody>
        @Body
    </RadzenBody>

    <RadzenSidebar Position="SidebarPosition.Right" >
        <div class="rz-p-4" Style="min-width: 70px; width: 30vw; max-width: 300px;">
            Right Sidebar
        </div>
    </RadzenSidebar>
    
</RadzenLayout>



@code {
    bool sidebar1Expanded = true;
    bool rightSidebarExpanded = false;
    bool isDarkMode = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
           
            await JS.InvokeVoidAsync("document.documentElement.setAttribute", "data-theme", "light");
        }
    }

    async Task ToggleTheme()
    {
        isDarkMode = !isDarkMode;
        var theme = isDarkMode ? "dark" : "light";
        await JS.InvokeVoidAsync("document.documentElement.setAttribute", "data-theme", theme);
    }
}

