@page "/verify-email"
@using SocioWeb.ViewModels.Auth
@inject VerifyEmailVM VM

<RadzenStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Style="height: calc(100vh - 90px);">
    @if (VM.IsLoading)
    {
        <div class="heartbeatloader">
            <svg class="svgdraw" width="100%" height="100%" viewBox="0 0 150 400" xmlns="http://www.w3.org/2000/svg">
                <path class="path" d="M 0 200 l 40 0 l 5 -40 l 5 40 l 10 0 l 5 15 l 10 -140 l 10 220 l 5 -95 l 10 0 l 5 20 l 5 -20 l 30 0" fill="transparent" stroke-width="4" stroke="black"></path>
            </svg>
            <div class="innercircle"></div>
            <div class="outercircle"></div>
        </div>
    
    
        <RadzenText TextStyle="TextStyle.H6" class="rz-mt-12">Validando tu cuenta, por favor espera...</RadzenText>
    }
    else if (VM.HasError)
    {
        <RadzenImage Path="./Images/icons/error.png" Style="width: 5rem"/>
        <RadzenText TextStyle="TextStyle.H5">Ocurrió un problema con la verificación</RadzenText>
        <RadzenText TextStyle="TextStyle.DisplayH6">@VM.ErrorMessage </RadzenText>
        @* <RadzenTextBox bind-Value="@VM.EmailtoResend "></RadzenTextBox> *@
        <RadzenTextBox @bind-Value="@VM.EmailToResend" Name="email" />
        <RadzenButton Click="@VM.ResendEmailAsync">
            Reenviar enlace al correo
        </RadzenButton>
    }
</RadzenStack>

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string token { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        await VM.InitializeAsync(token);
    }
}